.accepted-pulse {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  background-color: rgba(18, 18, 18, 0.15);
  animation: pulse-ring 3s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.progress-bar-shimmer {
  background: linear-gradient(90deg, #121212 0%, #444444 50%, #121212 100%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}